
.iconfont {
  font-family:"iconfont" !important;
   overflow: hidden;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*必须添加的*/
.icon-angle-left:before { content: "\e63d"; }
.icon-angle-right:before{content:"\e6dc"}
.icon-search:before { content: "\e6e2"; }
